<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h2>All Chats</h2>
        <form method="get" action="/chats/new">
            <button class="new-chat-btn">New Chat</button>
        </form>
        <% for (let chat of data) { %>
            <div class="chat-message">
                <h2 class="chat-from">Sent by <%= chat.from %></h2>
                <p class="chat-msg">Message: <%= chat.msg %></p>
                <h2 class="chat-to">Sent to <%= chat.to %></h2>
                <div class="chat-timestamp">
                    <% 
                    const createdAt = new Date(chat.createdAt); 
                    const time = createdAt.toLocaleTimeString(); 
                    const date = createdAt.toLocaleDateString(); 
                    %>
                    <p>Time: <%= time %></p>
                    <p>Date: <%= date %></p>
                </div>
                <form method="get" action="/chats/<%=chat.id%>/edit">
                    <button class="new-chat-btn">Edit</button>
                </form>
                <form method="post" action="/chats/<%=chat.id%>?_method=DELETE">
                    <button class="new-chat-btn">Delete</button>
                </form>
            </div>
        <% } %>
    </div>
</body>
</html>
